/* div#slider figure{

    position : relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 30s slidy infinite;
}

div#slider figure img{

    width: 20%;
    height: auto;
    float: left;
}

div#slider{

    width: 50%;
    max-width: 1000px;
    overflow: hidden;
}

@keyframes slidy{

    0% {left: 0%;}
    20% {left: 0%;}
    25% {left: -100%;}
    45% {left: -100%;}
    50% {left: -200%;}
    70% {left: -200%;}
    75% {left: -300%;}
    90% {left: -300%;}
    95% {left: -400%;}
    100% {left: -400%;}


} */


.jumbotron {

    background-color: #302731;
}
.carousel-control-next-icon {

    background-image :url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffa500' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")

}

.carousel-control-prev-icon {

    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffa500' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.carousel-control-prev {

    left: -30px;
}
.carousel-indicators .active {

    background-color: green
}

a {
    color: #8e9fad
}